.footerBody {
    background-color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
}

  .footerButton{
    width: 30%;
    height: 80%;
    margin: 30px;
    border-radius: 10px;
    text-decoration: underline;
}