.AppBody{
    height: 60vh;
}

.bodyTopProduct{
    background-color: whitesmoke;
    width: 100vw;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.singleProductImage{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid black;
}

.bodyBottomProduct{
    background-color: black;
    width: 100vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productInfo{
    background-color: darkgrey;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infoText{
    margin: 2px;
}