.AppBody{
    height: 60vh;
}

.bodyTopProduct{
    background-color: aqua;
    width: 100vw;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyBottomProduct{
    background-color: coral;
    width: 100vw;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productInfo{
    background-color: darkseagreen;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infoText{
    margin: 2px;
}